@using (Html.BeginForm("SubmitProject", "Home", FormMethod.Post, new { id = "formProject" }))
{
    <h2 style="margin-bottom:35px"> Project Form </h2>
    <span id="error-messages-proj" class="has-error"></span>
    <div class="form-group">
        @Html.Label("Name", "Name:", new { @class = "exampleFirstName" })
        @Html.TextBox("Name", "", new { @class = "projectName form-control", aria_describedby = "firstNameHelp", placeholder = "Enter Project Name" })
        <small id="firstNameHelp" class="form-text text-muted">Awesome name Alexa!</small>
    </div>

    <button id="SubmitFormProject" type="submit" class="btn btn-primary" style="margin-top:10px">Submit</button>
}
