@{
    ViewBag.Title = "Form Test Screen";
}

<div class="row" style="margin-bottom: 30px">
    <form id="1">
        <h2 style="margin-bottom:35px">Contact Form</h2>
        <div class="form-group">
            <label class="exampleFirstName" for="exampleFirstName">Your Name:</label>
            <input type="text" class="firstName form-control" aria-describedby="firstNameHelp" placeholder="Enter First Name">
            <small id="firstNameHelp" class="form-text text-muted">Awesome name Gorilla!</small>
        </div>
        <div class="form-group">
            <label class="exampleInputAge" for="exampleInputAge">Your Age:</label>
            <input type="number" class="age form-control" id="exampleInputAge" aria-describedby="ageHelp" placeholder="Enter Age">
            <small id="ageHelp" class="form-text text-muted">Tell us your age</small>
        </div>
        <div class="form-group">
            <label class="exampleDateInput" for="exampleDateInput">Select a Date:</label>
            <input type="date" class="date form-control" id="exampleDateInput" aria-describedby="dateHelp">
            <small id="dateHelp" class="form-text text-muted">Tell us when you want your appointent to be</small>
        </div>
        <fieldset class="form-group">
            <legend>Radio buttons</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    Option three is disabled
                </label>
            </div>
        </fieldset>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Check me out
            </label>
        </div>
        <button id="SubmitFormOne" type="submit" class="btn btn-primary" style="margin-top:10px">Submit</button>
    </form>
</div>

<div class="row">
    <form id="2">
        <h2>Request Service Form</h2>
        <div class="form-group float-label-control">
            <label class="exampleFirstName" for="firstName">Your Name</label>
            <input type="text" class="firstName form-control" name="firstName">
        </div>
        <div class="form-group float-label-control">
            <label for="country" class="yourCountry">Your Country</label>
            <input type="text" class="country form-control" name="country" placeholder="Your Country">
        </div>
        <div class="form-group">
            <select id="services" name="services" class="services form-control">
                <option>Choose Services</option>
                <option value="Service1">Service 1</option>
                <option value="Service2">Service 2</option>
                <option value="Service3">Service 3</option>
                <option value="Service4">Service 4</option>
            </select>
        </div>
        <div class="form-group">
            <select id="budget" name="budget" class="budget form-control">
                <option>Budget</option>
                <option value="1500">$1500</option>
                <option value="2000">$2000</option>
                <option value="2500">$2500</option>
            </select>
        </div>
        <button id="submitFormTwo" type="submit" class="btn btn-primary" style="margin-top:10px">Submit</button>
    </form>
</div>


<!--Add script to update the page.-->
<script type="text/javascript">

    $('#2').hide();

    let updateFormsVisibility = function (formToDisplay) {
        $('form').trigger("reset").hide('slow');
        $('#' + formToDisplay).show('slow');
    }

    let updateFirstNameInput = function (newFirstName) {
        console.log(newFirstName);
        $('.exampleFirstName').text('');
        $('.firstName').val(newFirstName);
    }

    let updateCountryInput = function (newCountry) {
        $('.yourCountry').text('');
        $('.country').val(newCountry);
    }

    let updateServiceInput = function (newService) {
        $('#services').val('Service' + newService);
    }

    let updateAgeInputField = function (newAge) {
        $('.exampleInputAge').text('');
        $('#exampleInputAge').val(newAge);
    }

    let updateBudgetInput = function (newBudget) {
        $('#budget').val(newBudget);
    }

    let updateDateInputField = function (newDate) {
        $('#exampleDateInput').val(newDate);
    }

    //Start SignalR Connection with Server
    $.connection.hub.start()
        .done(function () {
            console.log('SignalR connection stablished');
            //$.connection.alexaHub.server.updateFormVisibility("DING DING DING");
        })
        .fail(function () {
            console.log('SignalR connection failed')
        });

    $.connection.alexaHub.client.updateFormVisibility = function (formId) {
        console.log(formId);
        updateFormsVisibility(formId);
    }

    $.connection.alexaHub.client.updateFirstNameInputField = function (firstName) {
        updateFirstNameInput(firstName);
    }

    $.connection.alexaHub.client.updateCountryInputField = function (country) {
        console.log(country);
        updateCountryInput(country);
    }

    $.connection.alexaHub.client.updateServicesInputField = function (service) {
        console.log(service);
        updateServiceInput(service);
    }

    $.connection.alexaHub.client.updateBudgetInputField = function (budget) {
        console.log(budget);
        updateBudgetInput(budget);
    }

    $.connection.alexaHub.client.updateAgeInputField = function (age) {
        console.log(age);
        updateAgeInputField(age);
    }

    $.connection.alexaHub.client.updateDateInputField = function (date) {
        console.log(date);
        updateDateInputField(date);
    }

</script>
